.nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	max-width: 1152px;
	margin: auto;
}
.nav-title{
	color: burlywood;
	margin-left: 1.25rem;
	font-weight: bold;
	font-size: 1.25rem;
	cursor: pointer;
	letter-spacing : 0.1em;
}
.nav-ul {
	display: flex;
	padding: 0 10px;
	font-weight: bolder;
	align-items: center;
}

.nav-li{
	padding: 0 10px;
	cursor: pointer;
	color: tan;

}

@media (min-width:640px){
	.nav-title{
		font-size:1.5rem;
	}
}

@media (min-width:768px){
	.nav-title{
		font-size:1.875rem;
	}
}